* { font-family: 'Times New Roman', Times, serif;
    background-color: rgb(234, 238, 238);
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    }
    
    .container { 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

button { background-color: rgb(161, 226, 161);}
    
.post { width: 200px; 

} 