* { font-family: 'Times New Roman', Times, serif;
background-color: rgb(183, 228, 228);
}

.container { 
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.box 
{
    width: 300px;
    height: 100px;
}