<div class="profile">
  <h1> Your profile
  </h1>
  <div class='subprofile' >
    <div class="dataUser"><h2>Edit your profile : </h2> <button class="button" (click)="toggleDisplay()">Edit </button></div>
<form  #f="ngForm" (ngSubmit)="Edit()">
    <div class="dataUser"><h2>Name : </h2><span [hidden]="isShow">{{profile.Username}}</span><input name='UserName' [(ngModel)]="profile.Username" [hidden]="!isShow" value="{{profile.Username}}"></div>
    <div class="dataUser"><h2>Department :</h2> <span [hidden]="isShow"> {{profile.department}} </span><input  [(ngModel)]="profile.department" name='department'[hidden]="!isShow" value="{{profile.department}}"> </div>
    <div class="dataUser"><h2>Email :</h2> <span [hidden]="isShow"> {{profile.email}} </span><input  [(ngModel)]="profile.email" name="email" [hidden]="!isShow" value="{{profile.email}}"></div>
    <div class="dataUser"><h2>Birthday Date : </h2><span [hidden]="isShow"> {{profile.birthday}} </span><input  [(ngModel)]="profile.birthday" name="birthday" type="datetime" [hidden]="!isShow" value="{{profile.birthday}}"></div>
    <button class="button" [hidden]="!isShow" type="submit" click="Edit()" value="Save"[disabled]="!f.valid" >Savee</button>
</form>
  </div>
  </div>
                                                                                            <!--
                                                                                                <form #f="ngForm" (ngSubmit)="update()">

                                                                                                Name : <input type="text" name="name" [(ngModel)]="user.name" ><br/>
                                                                                                Email : <input type="text" name="email" [(ngModel)]="user.email" ><br/>

                                                                                                <input type="submit" value="Update" />

                                                                                                </form>





                                                                                              <form #f="ngForm" (ngSubmit)="customSubmit(f.valid)">
dfsdfsd                                                                                            First Name : <input name="fname" #fname="ngModel" required  [(ngModel)]="user.fname"  type="text"><br/>

                                                                                            Last Name : <input name="lname" #lname="ngModel" minlength="3" [(ngModel)]="user.lname" type="text"><br/>

                                                                                            <input type="submit" value="Save" [disabled]="!f.valid">

                                                                                            <div *ngIf="!fname.valid && fname.dirty">The First name is mandatory</div>
                                                                                            <div *ngIf="!lname.valid && lname.dirty">The Last name must be 3 chars minimum</div>
                                                                                            </form> -->
