<div  >
    <form #f="ngForm" class="task container"  (ngSubmit)="onSubmit(f)">
        <input name="taskContent" minlength="5" [(ngModel)]="taskContent" class="input" type="text" #first="ngModel" required >
        <input name="taskCompleted" type="button" value="checked" [(ngModel)]="taskCompleted" #completed="ngModel"> 
        <div *ngIf="notValid" style="background-color: rgb(219, 42, 42);"> <p> task needs to be longer than 5 chars</p></div>
        <button>Submit</button>
    </form>

    </div>